
.logo{
    width: 118px;
    height: 29px;}

.span-color{
    color: rgba(19, 40, 133, 0.877);
}  

.login-bg{
    background-color: aqua;
    border-radius: 25px;
}
.background{
    width: 1400;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color:rgb(183, 236, 218);
}
   
h6{
    font-size: 13px;
}
.topic{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cardp{
    padding: 25px 10px;
}
h2{
    line-height: 100px;
}
.info{
    width: 1440;
    height: 390;
    padding: 30px 30px;
    color: white;
    background-color: #282531;
}
.list-group{
    font-size: 10px;
    padding-bottom: 5px;
}
#copyrite{
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
